[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kopf = "==1.34.0"
pykube-ng = "*"
tenacity = "*"

[dev-packages]
configargparse = "*"
behave = "*"
kubernetes = "*"

[requires]
python_version = "3.8"
